body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #E2E6E8;
}
header {
  background : url(./image/riverdaleimage.jpg) no-repeat center;
  padding-top: 50px;
  overflow: hidden;
  background-size: cover;

}
.titre {
  color: #013E64;
  margin:0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;

}
.titre h1{
  margin:0;
}
.titre h3{
  margin:0;
}
.flex-content {
  display:block;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.questions {
  display: block;
  background-color: #013E64;
  padding : 20px;
  margin: 20px;
  color: white;
  border: 2px solid #2B7B9B;
}
option {
  width: 100px;
}
input {
  width: 120px;
  font-size: 60px;
}
select {
  font-size: 15px;
}
